<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUIFxhUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABowkKEVUkbnVsbNMLDA0ODxBXTlNXaGl0ZVxOU0NvbG9yU3BhY2VWJGNs
	YXNzTxAPMCAwLjg5OTk5OTk3NjIAEAOAAtISExQVWCRjbGFzc2VzWiRjbGFzc25hbWWi
	FRZXTlNDb2xvclhOU09iamVjdBIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8
	QEZNVWJpe31/hI2Ym6OssQAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADD
	</data>
	<key>CursorBlink</key>
	<false/>
	<key>CursorColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUIFxhUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABowkKEVUkbnVsbNMLDA0ODxBVTlNSR0JcTlNDb2xvclNwYWNlViRjbGFz
	c08QHjEgMC45NzYwODkxMTk5IDAgMC44MDAwMDAwMTE5ABABgALSEhMUFVgkY2xhc3Nl
	c1okY2xhc3NuYW1lohUWV05TQ29sb3JYTlNPYmplY3QSAAGGoF8QD05TS2V5ZWRBcmNo
	aXZlcggRFh8oMjU6PEBGTVNgZ4iKjJGapaiwub4AAAAAAAABAQAAAAAAAAAZAAAAAAAA
	AAAAAAAAAAAA0A==
	</data>
	<key>CursorType</key>
	<integer>0</integer>
	<key>DisableANSIColor</key>
	<false/>
	<key>Font</key>
	<data>
	YnBsaXN0MDDUAQIDBAUIGhtUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABpAkKExRVJG51bGzUCwwNDg8QERJWTlNTaXplVk5TTmFtZVYkY2xhc3NY
	TlNmRmxhZ3MjQCgAAAAAAACAAoADEBBWTW9uYWNv0hUWFxhYJGNsYXNzZXNaJGNsYXNz
	bmFtZaIYGVZOU0ZvbnRYTlNPYmplY3QSAAGGoF8QD05TS2V5ZWRBcmNoaXZlcggRFh8o
	MjU6PEFHUFdeZW53eXt9hImSnaCnsLUAAAAAAAABAQAAAAAAAAAcAAAAAAAAAAAAAAAA
	AAAAxw==
	</data>
	<key>FontAntialias</key>
	<true/>
	<key>ProfileCurrentVersion</key>
	<real>2.0099999999999998</real>
	<key>SelectionColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUIFxhUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABowkKEVUkbnVsbNMLDA0ODxBXTlNXaGl0ZVxOU0NvbG9yU3BhY2VWJGNs
	YXNzTTAuMjU0MDMyMjU0MgAQA4AC0hITFBVYJGNsYXNzZXNaJGNsYXNzbmFtZaIVFldO
	U0NvbG9yWE5TT2JqZWN0EgABhqBfEA9OU0tleWVkQXJjaGl2ZXIIERYfKDI1OjxARk1V
	Yml3eXuAiZSXn6itAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAL8=
	</data>
	<key>ShowShellCommandInTitle</key>
	<true/>
	<key>ShowWindowSettingsNameInTitle</key>
	<false/>
	<key>TextBoldColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUIFxhUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABowkKEVUkbnVsbNMLDA0ODxBXTlNXaGl0ZVxOU0NvbG9yU3BhY2VWJGNs
	YXNzQjEAEAOAAtISExQVWCRjbGFzc2VzWiRjbGFzc25hbWWiFRZXTlNDb2xvclhOU09i
	amVjdBIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZNVWJpbG5wdX6JjJSd
	ogAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAAC0
	</data>
	<key>TextColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUIFxhUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABowkKEVUkbnVsbNMLDA0ODxBXTlNXaGl0ZVxOU0NvbG9yU3BhY2VWJGNs
	YXNzTTAuOTQ3NTgwNjM1NQAQA4AC0hITFBVYJGNsYXNzZXNaJGNsYXNzbmFtZaIVFldO
	U0NvbG9yWE5TT2JqZWN0EgABhqBfEA9OU0tleWVkQXJjaGl2ZXIIERYfKDI1OjxARk1V
	Yml3eXuAiZSXn6itAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAL8=
	</data>
	<key>UseBoldFonts</key>
	<true/>
	<key>UseBrightBold</key>
	<true/>
	<key>blackColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg52cnD6DnZycPoOdnJw+AYY=
	</data>
	<key>blueColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg5eWFj+DzMtLP4P//n4/AYY=
	</data>
	<key>brightBlackColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZoOrqqo+AYY=
	</data>
	<key>brightBlueColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAAABAYY=
	</data>
	<key>brightCyanColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAAEBAYY=
	</data>
	<key>brightGreenColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAAEAAYY=
	</data>
	<key>brightMagentaColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQABAYY=
	</data>
	<key>brightRedColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQAAAYY=
	</data>
	<key>brightWhiteColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>brightYellowColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQEAAYY=
	</data>
	<key>columnCount</key>
	<integer>80</integer>
	<key>cyanColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmgxqRHT8BAQGG
	</data>
	<key>greenColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg6moKD8Bg8HAwD4Bhg==
	</data>
	<key>magentaColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAYPn5uY+g/79fT8Bhg==
	</data>
	<key>name</key>
	<string>Visor</string>
	<key>redColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAYPZ2Ng+g8HAwD4Bhg==
	</data>
	<key>rowCount</key>
	<integer>24</integer>
	<key>shellExitAction</key>
	<integer>2</integer>
	<key>type</key>
	<string>Window Settings</string>
	<key>whiteColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg+/ubj+D7+5uP4Pv7m4/AYY=
	</data>
	<key>yellowColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQGDt7Y2PwGG
	</data>
</dict>
</plist>
