<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundColor</key>
	<data>YnBsaXN0MDDUAQIDBAUIFxhUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKEVUkbnVsbNMLDA0ODxBXTlNXaGl0ZVxOU0NvbG9yU3BhY2VWJGNsYXNzTxAPMCAwLjg5OTk5OTk3NjIAEAOAAtISExQVWCRjbGFzc2VzWiRjbGFzc25hbWWiFRZXTlNDb2xvclhOU09iamVjdBIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZNVWJpe31/hI2Ym6OssQAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADD</data>
	<key>CursorBlink</key>
	<false/>
	<key>CursorColor</key>
	<data>YnBsaXN0MDDUAQIDBAUIFxhUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKEVUkbnVsbNMLDA0ODxBVTlNSR0JcTlNDb2xvclNwYWNlViRjbGFzc08QHjEgMC45NzYwODkxMTk5IDAgMC44MDAwMDAwMTE5ABABgALSEhMUFVgkY2xhc3Nlc1okY2xhc3NuYW1lohUWV05TQ29sb3JYTlNPYmplY3QSAAGGoF8QD05TS2V5ZWRBcmNoaXZlcggRFh8oMjU6PEBGTVNgZ4iKjJGapaiwub4AAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0A==</data>
	<key>CursorType</key>
	<integer>0</integer>
	<key>DisableANSIColor</key>
	<false/>
	<key>Font</key>
	<data>YnBsaXN0MDDUAQIDBAUIGhtUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABpAkKExRVJG51bGzUCwwNDg8QERJWTlNTaXplVk5TTmFtZVYkY2xhc3NYTlNmRmxhZ3MjQCgAAAAAAACAAoADEBBWTW9uYWNv0hUWFxhYJGNsYXNzZXNaJGNsYXNzbmFtZaIYGVZOU0ZvbnRYTlNPYmplY3QSAAGGoF8QD05TS2V5ZWRBcmNoaXZlcggRFh8oMjU6PEFHUFdeZW53eXt9hImSnaCnsLUAAAAAAAABAQAAAAAAAAAcAAAAAAAAAAAAAAAAAAAAxw==</data>
	<key>FontAntialias</key>
	<true/>
	<key>ProfileCurrentVersion</key>
	<real>2.01</real>
	<key>SelectionColor</key>
	<data>YnBsaXN0MDDUAQIDBAUIFxhUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKEVUkbnVsbNMLDA0ODxBXTlNXaGl0ZVxOU0NvbG9yU3BhY2VWJGNsYXNzTTAuMjU0MDMyMjU0MgAQA4AC0hITFBVYJGNsYXNzZXNaJGNsYXNzbmFtZaIVFldOU0NvbG9yWE5TT2JqZWN0EgABhqBfEA9OU0tleWVkQXJjaGl2ZXIIERYfKDI1OjxARk1VYml3eXuAiZSXn6itAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAL8=</data>
	<key>ShowShellCommandInTitle</key>
	<true/>
	<key>ShowWindowSettingsNameInTitle</key>
	<false/>
	<key>TextBoldColor</key>
	<data>YnBsaXN0MDDUAQIDBAUIFxhUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKEVUkbnVsbNMLDA0ODxBXTlNXaGl0ZVxOU0NvbG9yU3BhY2VWJGNsYXNzQjEAEAOAAtISExQVWCRjbGFzc2VzWiRjbGFzc25hbWWiFRZXTlNDb2xvclhOU09iamVjdBIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZNVWJpbG5wdX6JjJSdogAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAAC0</data>
	<key>TextColor</key>
	<data>YnBsaXN0MDDUAQIDBAUIFxhUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKEVUkbnVsbNMLDA0ODxBXTlNXaGl0ZVxOU0NvbG9yU3BhY2VWJGNsYXNzTTAuOTQ3NTgwNjM1NQAQA4AC0hITFBVYJGNsYXNzZXNaJGNsYXNzbmFtZaIVFldOU0NvbG9yWE5TT2JqZWN0EgABhqBfEA9OU0tleWVkQXJjaGl2ZXIIERYfKDI1OjxARk1VYml3eXuAiZSXn6itAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAL8=</data>
	<key>UseBoldFonts</key>
	<true/>
	<key>UseBrightBold</key>
	<false/>
	<key>blackColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg52cnD6DnZycPoOdnJw+AYY=</data>
	<key>blueColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg5eWFj+DzMtLP4P//n4/AYY=</data>
	<key>brightBlackColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJmZoOrqqo+AYY=</data>
	<key>brightBlueColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=</data>
	<key>brightCyanColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAEBAYY=</data>
	<key>brightGreenColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAEAAYY=</data>
	<key>brightMagentaColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQABAYY=</data>
	<key>brightRedColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=</data>
	<key>brightWhiteColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJmZgEBhg==</data>
	<key>brightYellowColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEAAYY=</data>
	<key>columnCount</key>
	<integer>80</integer>
	<key>cyanColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgxqRHT8BAQGG</data>
	<key>greenColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg6moKD8Bg8HAwD4Bhg==</data>
	<key>magentaColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAYPn5uY+g/79fT8Bhg==</data>
	<key>name</key>
	<string>Visor</string>
	<key>redColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAYPZ2Ng+g8HAwD4Bhg==</data>
	<key>rowCount</key>
	<integer>24</integer>
	<key>shellExitAction</key>
	<integer>2</integer>
	<key>type</key>
	<string>Window Settings</string>
	<key>whiteColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg+/ubj+D7+5uP4Pv7m4/AYY=</data>
	<key>yellowColour</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQGDt7Y2PwGG</data>
</dict>
</plist>
