[submodule "sparkle"]
	path = sparkle
	url = git://github.com/binaryage/sparkle.git
[submodule "totalterminal-osax"]
	path = totalterminal-osax
	url = git://github.com/binaryage/totalterminal-osax.git
[submodule "totalterminal-installer"]
	path = totalterminal-installer
	url = git://github.com/binaryage/totalterminal-installer.git
[submodule "totalterminal-i18n"]
	path = totalterminal-i18n
	url = git://github.com/binaryage/totalterminal-i18n.git
[submodule "crashwatcher"]
	path = crashwatcher
	url = git://github.com/binaryage/crashwatcher.git
