<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>VisorAnimationSpeed</key>
    <real>0.29999999999999999</real>
    <key>VisorUseFade</key>
    <true/>
    <key>VisorUseSlide</key>
    <true/>
    <key>VisorShowStatusItem</key>
    <true/>
    <key>VisorShowOnReopen</key>
    <true/>
    <key>VisorCopyOnSelect</key>
    <false/>
    <key>VisorHideOnEscape</key>
    <false/>
    <key>VisorScreen</key>
    <integer>0</integer>
    <key>VisorPosition</key>
    <string>Top-Stretch</string>
    <key>VisorOnEverySpace</key>
    <true/>
</dict>
</plist>