<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VisorAnimationSpeed</key>
	<real>0.3</real>
	<key>VisorUseFade</key>
	<true/>
	<key>VisorUseSlide</key>
	<true/>
	<key>VisorShowStatusItem</key>
	<true/>
	<key>VisorShowOnReopen</key>
	<true/>
	<key>VisorCopyOnSelect</key>
	<false/>
	<key>VisorHideOnEscape</key>
	<false/>
	<key>VisorScreen</key>
	<integer>0</integer>
	<key>VisorPosition</key>
	<string>Top-Stretch</string>
	<key>VisorOnEverySpace</key>
	<true/>
	<key>VisorUseBackgroundAnimation</key>
	<false/>
	<key>VisorBackgroundAnimationOpacity</key>
	<integer>100</integer>
	<key>VisorBackgroundAnimationFile</key>
	<string></string>
</dict>
</plist>
